@using Microsoft.AspNetCore.Identity
@using HardwareShop.Constants
@inject SignInManager<HardwareShopUser> SignInManager
@inject UserManager<HardwareShopUser> UserManager

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HardwareShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole(GlobalConstants.AdminRole))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="@GlobalConstants.AdminArea" asp-controller="Home" asp-action="Index">Admin Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Computers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="@GlobalConstants.AdminArea" asp-controller="Computer" asp-action="All">All</a>
                                <a class="dropdown-item" asp-area="@GlobalConstants.AdminArea" asp-controller="Computer" asp-action="Create">Create</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    }
                    else if (SignInManager.IsSignedIn(User) && User.IsInRole(GlobalConstants.UserRole))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="@GlobalConstants.UserArea" asp-controller="User" asp-action="MyAll">My Computers</a>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>



 @*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul> 
*@